# Dependencies
node_modules/
.pnp/
.pnp.js

# Build outputs
dist/
out/
build/icon.iconset/
*.dmg
*.zip
*.blockmap
*.exe
*.AppImage
*.deb
*.snap

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment and local config
.env
.env.local
.env.*.local

# Operating System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db

# IDEs and Editors
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Caches
.eslintcache
.prettiercache
